body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app-header {
  background-color: #282c34;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: calc(10px + 2vmin);
  padding: 20px;
}

.app-title {
  margin: 0;
  text-align: center;
}

.app-main {
  flex: 1;
  padding: 20px;
}

.app-section {
  max-width: 800px;
  margin: 0 auto;
}

.app-section-title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.app-input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  resize: none;
}

.app-button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 15px 0;
  cursor: pointer;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
}

.app-dropdown-section-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.app-dropdown-section {
  display: inline-block;
}

.app-dropdown-label {
  display: block;
  font-size: 16px;
  margin-bottom: 5px;
}

.app-dropdown {
  font-size: 16px;
  padding: 5px 10px;
  border: 2px solid #ccc;
  border-radius: 4px;
}

.image-spinner {
  display: inline-block;
  width: 80px;
  height: 80px;
  text-align: center;
}

.image-spinner-dot {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #ccc;
  border-radius: 100%;
  animation: image-spinner 1.4s infinite ease-in-out both;
}

.image-spinner-dot:nth-child(1) {
  animation-delay: -0.32s;
}

.image-spinner-dot:nth-child(2) {
  animation-delay: -0.16s;
}

@keyframes image-spinner {
  0%, 80%, 100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}

.app-result-image {
  max-width: 100%;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 4px
}

.result-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.spinner-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.app-autocomplete {
  margin-bottom: 10px;
}

.react-select__multi-value {
  background-color: #4caf50;
  border-radius: 2px;
  display: flex;
  align-items: center;
  margin-right: 5px;
  margin-bottom: 5px;
}

.react-select__multi-value__label {
  color: #fff;
  padding: 5px;
}

.react-select__multi-value__remove {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  background-color: #388e3c;
  border-radius: 0 2px 2px 0;
  color: #fff;
}